{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div>Microblog:
            <a href="{{ url_for('index') }}">{{ _('首页') }}</a>
            {% if current_user.is_annoymous %}
            <a href="{{ url_for('login') }}">{{ _('登录') }}</a>
            {% else %}
            <a href="{{ url_for('explore') }}">{{ _('浏览帖子') }}</a>
            <a href="{{ url_for('user', username=current_user.username) }}">{{ _('简历') }}</a>
            <a href="{{ url_for('logout') }}">{{ _('登出') }}</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

        <hr>

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    
{% endblock %}